/* UTILS */
@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./utils/placeholder";

/* BASE */
@import "./base/reset";
@import "./base/card-set";
@import "./base/base";
@import "./base/container";

/* COMPONENTS */
@import "./components/logo";
@import "./components/nav";
@import "./components/button";
@import "./components/filter-button";
@import "./components/social";
@import "./components/register-form";
@import "./components/custom-checkbox";
@import "./components/modal-form";
@import "./components/modal-button";

/* LAYOUTS */
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/qualities";
@import "./layouts/work";
@import "./layouts/footer";
@import "./layouts/portfolio";
@import "./layouts/clients";
@import "./layouts/team";