.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.item-btn:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: none;
    background-color: #f5f4fa;
    color: var(--primary-text-color);
    cursor: pointer;
    
    &.current-btn {
            color: var(--accent-text-color);
            background-color: var(--primary-background-color);
        }
    &:hover,
    &:focus {
            color: var(--accent-text-color);
            background-color: var(--primary-background-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

