.logo {
    display: block;
    /* margin-right: 93px; */
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    /* font-size: 26px;
    line-height: 1.2; */
    letter-spacing: 0.03em;

    color: #000000;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
        @media screen and (min-width: 768px) {
            margin-right: 93px;
            font-size: 26px;
            line-height: 1.2;
        }
}

.web {
    color: var(--primary-background-color);
}