.mob-menu-btn {
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

    width: 40px;
    height: 40px;

    border: 0;
    background-color: transparent;
    &:hover,
    &:focus {
            fill: var(--primary-background-color);
        }
    & {
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    @media screen and (min-width: 767px) {
    display: none;
    }
    }


.mob-cross-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    width: 40px;
    height: 40px;

    border: 0;
    background-color: transparent;
    &:hover,
    &:focus {
            fill: var(--primary-background-color);
        }
    & {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.mob-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    
    width: 100vw;
    height: 100vh;

    background-color: var(--accent-text-color);
    overflow-y: scroll;
    
    @media screen and (min-width: 767px) {
        display: none;
    }
    
}

.mob-menu-list {
    margin-left: 40px;
    margin-right: 40px;

}

.mob-menu-item:not(:last-child) {
margin-bottom: 32px;
}
.mob-menu-link {
    display: block;
    /* padding-top: 32px;
    padding-bottom: 32px; */

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    &:hover,
    &:focus {
        color: var(--primary-background-color);
    }
    
    &.active {
    color: var(--primary-background-color);
    }
    
}
.mob-contacts-list {
margin-left: 40px;
}

.mob-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--primary-background-color);
    /* @media screen and (min-width: 480px) {
        
    } */
}
.mob-post {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}
.mob-contacts-item:not(:last-child) {
   margin-bottom: 32px;
}

.menu-soc-item:not(:first-child) {
    margin-left: 10px;
}
.menu-soc-item:not(:last-child)::after {
    content: "";
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 10px;
}

.menu-soc-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-left: 40px;
}
.menu-soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--primary-background-color);
}