.backdrop {
    transition-property: opacity, visibility;
    transition-duration: 450ms;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 450ms linear;
    width: 528px;
    min-height: 581px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0) rotate(-360deg);
        }
}

.modal-btn {
    position: absolute;
    right: 8px;
    top: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
            fill: var(--primary-background-color);
        }
}

.close-btn {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.form-margin {
    position: relative;
    margin-bottom: 10px;
}

.form-label {
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.form-input {
    margin-top: 4px;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 36px;

    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;

    &:focus {
            border-color: var(--primary-background-color);
        }
}

.modal-text-area {
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;

    outline: transparent;

    resize: none;

    &:focus {
            border-color: var(--primary-background-color);
        }
   &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
}

.policy-container {
    margin-bottom: 30px;
}
.form-link {
    color: var(--primary-background-color);
}

.input-wrap {
    position: relative;
}

.input-icons {
    position: absolute;
    left: 12px;
    bottom: 11px;

    .form-input:focus+& {
            fill: var(--primary-background-color);
        }
}