.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link {
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    &:hover,
    &:focus {
            color: var(--primary-background-color);
        }
}

.current::after {
    content: '';

    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--primary-background-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .nav-link & {
            color: var(--primary-background-color);
        }
}