.footer-mailing {
    margin-left: 93px;
}

.mailing-text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-text-color);
}

.mailind-flex {
    display: flex;
    align-items: center;
}

.mailing-input {
    margin-right: 12px;
    padding-left: 16px;

    width: 358px;
    height: 50px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        }
}


.mailing-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 28px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--accent-text-color);
    background-color: var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}