.footer-mailing {
    /* margin-left: 93px; */
    margin-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
     width: 450px;      
    }
        @media screen and (min-width: 1200px) {
          text-align: left;
          margin-left: 93px;
          margin-bottom: 0;
        }
}

.mailing-text {
   
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--accent-text-color);
}

.mailind-flex {
    @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
    }
    
}

.mailing-input {
    margin-bottom: 20px;
    padding-left: 16px;
    
    width: 100%;
    height: 50px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        }
    @media screen and(min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
}
           
}


.mailing-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;


    margin-right: auto;
    margin-left: auto;
    padding: 10px 28px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--accent-text-color);
    background-color: var(--primary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}