.team-soc-list {
    display: flex;
    justify-content: center;

    margin-top: 16px;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child {
            margin-left: 0;
        }
}

.team-soc-link {
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    color: var(--soc-icons-primary-color);

    &:hover,
    &:focus {
            background-color: var(--primary-background-color);
            color: var(--accent-text-color);
        }
}

.team-soc-icon {
    fill: currentColor;
}

.footer-soc {
    margin-left: 70px;
}

.footer-soc-list {
    display: flex;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-soc-title {
    margin-bottom: 20px;
    margin-top: 0;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--accent-text-color);
}

.footer-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child {
            margin-left: 0;
        }
}

.footer-soc-link {
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    color: var(--accent-text-color);
    background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

    &:hover,
    &:focus {
            background-color: var(--primary-background-color);
            color: var(--accent-text-color);
        }
}

.footer-soc-icon {
    fill: currentColor;
}

