:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-background-color: #2196f3;
    --accent-text-color: #ffffff;
    --soc-icons-primary-color: #afb1b8;

    /* CARD SET*/
    --item: 3;
    --indent: 30px;
}