.clients {
    @extend %section;
}

.clients-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item {
    width: 170px;
    height: 92px;
    margin-left: 30px;
    &:first-child {
            margin-left: 0;
        }
}



.clients-link {
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    border: 1px solid var(--soc-icons-primary-color);
    border-radius: 4px;
    color: var(--soc-icons-primary-color);
    &:hover,
    &:focus {
        color: var(--primary-background-color);
        border: 1px solid var(--primary-background-color);
    }
}

.clients-icon {
    fill: currentColor;
}

