.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
}

.footer-flex {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--accent-text-color);
}

address {
    font-style: normal;
    margin: 0;
}

.footer-address {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;

    color: var(--accent-text-color);
}

.footer-post,
.footer-tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
        color: var(--primary-background-color);
    }
}
