header {
    border-bottom: 1px solid #ececec;

}

.header-flex {
    display: flex;
    align-items: center;
}

.header-list {
    display: none;
    

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
        /* padding-top: 21px;
        padding-bottom: 21px; */
        
    }
        @media screen and (min-width: 1200px) {
            display: flex;
            /* margin-left: auto;
            margin-top: 21px;
            margin-bottom: 21px; */
    
        }
}

.header-item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
    
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.header-post,
.header-tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;

    /* padding-top: 32px;
    padding-bottom: 32px; */

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
    &:hover,
    &:focus {
            color: var(--primary-background-color);
        }

    @media screen and (min-width: 1200px) {
        padding-top: 21px;
        padding-bottom: 21px;
        
                }

   @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;

}

    }

.header-post-icon,
.header-tel-icon {
    margin-right: 10px;

    fill: currentColor;
}