header {
    border-bottom: 1px solid #ececec;

}

.header-flex {
    display: flex;
    align-items: center;
}

.header-list {
    display: none;
    
    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto; 
    }
        @media screen and (min-width: 1200px) {
            display: flex;   
        }
}

.header-item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
    
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.header-post,
.header-tel {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
    &:hover,
    &:focus {
            color: var(--primary-background-color);
        }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.71;

}

    }

.header-post-icon {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 10px;
    }

}

.header-tel-icon {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }

}

.header-post-icon,
.header-tel-icon {
    margin-right: 10px;

    fill: currentColor;
}