.hero {
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/toogether-working.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-text-color);
}

