.hero {
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob@1x.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob@2x.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
        }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab@1x.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-tab@2x.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
        }
}

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-desk@1x.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-desk@2x.jpg),
        linear-gradient(rgba(196, 196, 196, 1), rgba(196, 196, 196, 1));
        }
    
            }
}


.hero-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-text-color);
    @media screen and (min-width: 1200px) {
            @include font(null, 44px, 1.36, null);
    }
            
}




