.work {
    @extend %section;
    padding-top: 47px;
}

.work__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.work__list {
    --item: 3;
}

.work__wrapper {
    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 27px;

    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--accent-text-color);
}